

{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}


<style type="text/css">
	.container-fluid{
		position: relative;
		filter: brightness(0.8);
		opacity: 50%;
	}

	.container{
		position: absolute;
		top: 0;
		color: black;
		margin-left: 15px;
		margin-top: 200px;
		text-transform: font-weight-bold;
	}

	.textic{
		font-weight: bold;
	}

/*	.card-img-top
	{
		max-width: 200px;
		height: 200px;
	}*/
</style>

<div class="container-fluid">
	<div class="row">
		<img src="{% static 'ариста.jpg' %}">
	</div>	

</div>

<div class="container">
	<div class="row justify-content-around ">
		<div class="col-4">
			<h1 class="font-weiht-bold text-uppercase">срочный выкуп автомобилей!!!</h1>
			<div class="textic">
				<p>Только иномарки от 1998 года</p>
				<p>В день обращения! Дорого</p>
				<p>В СПБ и ЛО!</p>
				<ul>
					<li>Битые</li>
					<li>Залоговые</li>
					<li>Без ПТС</li>
					<li>С арестом</li>
				</ul>
			</div>

		</div>
		<div id="tex" class="col-6" >
			<span class="material-icons">pending</span>
			<h3>Об услуге</h3>
			<p class="textic">Если Вам нужно срочно продать авто и получить деньги без проблем и головной боли, то услуга «срочный выкуп автомобилей» – как раз для Вас! 
			Вам нужно лишь связаться с нашими специалистами и и сообщить нам следующие детали:

				<ul>
					<li>Модель и марку авто</li>
					<li>Дату выпуска авто</li>
					<li>Тип коробки передач и двигателя</li>
					<li>Общее описание состояния, в котором находится авто и документы</li>
				</ul>
			На основании этих сведений наши специалисты смогут огласить цену, которую Вы сможете получить при заключении сделки. Если условия Вас устроят, то мы договоримся о месте и времени осмотра авто. 
			<br>
			<br>
			Если описание автомобиля соответствует действительности,то выкуп производится тут же. Вы получаете оговоренную сумму и договор купли-продажи.
			</p>
		</div>
	</div>

	<div class="card-deck row justify-content-center " style="margin-left:150px;" >
	  <div class="card col-3 bg-info">
	    <img class="card-img-center" src="{% static 'китаец.jpeg' %}" alt="Card image cap" >
	    <div class="card-body">
	      <h5 class="card-title">Toyota Platz 2000г.</h5>
	      <p class="card-text">97.000</p>
	    </div>
	  </div>
	  <div class="card col-3 bg-info">
	    <img class="card-img-center" src="{% static 'форд фьюжн.jpg' %}" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">Ford Fusion 2010г.</h5>
	      <p class="card-text">165.000</p>
	    </div>
	  </div>
	  <div class="card col-3 bg-info">
	    <img class="card-img-center" src="{% static 'ниссан примьера.jpg' %}" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">Nissan Tiida 2012г.</h5>
	      <p class="card-text text-lowercase">300.000</p>
	    </div>
	  </div>
	  	  <div class="card col-3 bg-info">
	    <img class="card-img-center" src="{% static 'лансер.jpeg' %}" style="" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">Mitsubishi Lancer 2007г.</h5>
	      <p class="card-text text-lowercase">220.000</p>
	    </div>
	  </div>
	</div>
	

</div>



{% endblock %}